{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h1>Signup</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
